.contextMenuState {
  position: absolute;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.listBox {
  display: flex;
  flex-direction: column;
}

.iconSize {
  padding: 4px 3px;
  font-size: 21px;
}

.inputGroup {
  padding: 7px 3px !important;
  max-width: 2rem !important;
  align-items: center;
}
