.cardCommon {
    display: flex;
    height: 100%;
    margin: auto;
    transition: box-shadow 0.5s;
}


.gridster {
    background-color: #EDF1F7;
    border-radius: 5px;
}
.gridsterItem {
    border-radius: 5px;
}