<nb-card class="card">
    <nb-card-header class="header">Config</nb-card-header>
    <nb-card-body>
      <button class="buttonConfig"  size="small" nbButton (click)="configs(1)"> <nb-icon icon="sort-amount-up" pack="fa"></nb-icon><p class="textButton">Organize</p></button>
      <button class="buttonConfig"  size="small" nbButton (click)="configs(2)"><nb-icon icon="undo" pack="fa"></nb-icon><p class="textButton">Undo all changes</p></button>
      <button class="buttonConfig"  size="small" nbButton (click)="configs(3)"><nb-icon icon="trash-2-outline" pack="eva"></nb-icon><p class="textButton">Clean Dashboard</p></button>
    </nb-card-body>
</nb-card>