<nb-select placeholder="Indicator" shape="round" size="tiny" class="selectIndicator"
    [(ngModel)]="filterSelected.indicator">
    <nb-option *ngFor="let kpi of kpisSelect" [value]="kpi.indicator">{{kpi.name}}</nb-option>
</nb-select>

<nb-select placeholder="LOB" shape="round" size="tiny" class="selectIndicator" *ngIf="filterSelected.indicator"
    [(ngModel)]="filterSelected.lobKpi" ngDefaultControl (ngModelChange)="validateSelect(true)">
    <nb-option *ngFor="let x of lobs" [value]="x">{{x}}</nb-option>
</nb-select>

<nb-select placeholder="Skill" shape="round" size="tiny" class="selectIndicator" *ngIf="filterSelected.lobKpi"
    [(ngModel)]="filterSelected.skillKpi" ngDefaultControl (ngModelChange)="validateSelect(false)">
    <nb-option *ngFor="let x of skills" [value]="x">{{x}}</nb-option>
</nb-select>





<!-- <select class="selectLob col-md" *ngIf="filterSelected.indicator" [(ngModel)]="filterSelected.lobKpi" ngDefaultControl (ngModelChange)="validateSelect(true)">
    <option [value]="x" *ngFor="let x of lobs">{{x}}</option>
</select>

<select class="selectLob col-md" *ngIf="filterSelected.lobKpi" [(ngModel)]="filterSelected.skillKpi" ngDefaultControl (ngModelChange)="validateSelect(false)">
    <option [value]="x" *ngFor="let x of skills">{{x}}</option>
</select> -->