.selectIndicator {
    display: table;
    margin: auto;
    animation: appear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    margin-bottom: 20px;
}

.selectLob {
    height: auto;
    border: 0.0625rem solid #e4e9f2;
    border-radius: 4px;
    animation: appear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    margin: auto;
    transition: width .3s;
}