<div class="containerSection" cdkDrag>
    <div class="containerTable">
        <table>
          <caption></caption>
          <thead>
            <tr>
              <th scope="col" id="col1"></th>
            </tr>
          </thead>
            <tr *ngFor="let posicionesy of mapMatrix; let y = index" >
              <td *ngFor="let item of posicionesy; let x = index">
                <!-- {{ item.x }},{{ item.y }} -->
                {{ item.value }}
              </td>
            </tr>
          </table>
    </div>
</div>