:host ::ng-deep {
    .FollowList {

        th {
            padding: unset !important;
            text-align: center;
            a {
                font-weight: bold;
            }
        }

        td {
            // display: block;
            text-align: center;
            white-space: nowrap;
            // padding: 5px;
        }

        tbody {
            // tr:nth-child(2n) {
            //     background-color: unset !important;
            // }
            tr td {
                padding: 0.2rem 0.6rem;
                ng2-st-tbody-edit-delete {
                    display: none;
                }
            }
        }
    }
}