<nb-card class="card">
  <nb-card-header>Mision Bot</nb-card-header>
  <nb-card-body class="example-items-rows">
    <div class="contentBody">
      <button nbButton status="basic">basic</button>
      <button nbButton status="primary">Primary</button>
      <button nbButton status="success">Success</button>
      <button nbButton status="info">Info</button>
      <button nbButton status="warning">Warning</button>
      <button nbButton status="danger">Danger</button>
      <div class="control-status-example">
        <button nbButton status="control">Control</button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" fullWidth (click)="launchMisionBot()">
      Launch
    </button>
  </nb-card-footer>
</nb-card>
