<nb-card class="card">
    <nb-card-header>Dashboard</nb-card-header>
    <nb-card-body class="example-items-rows">
        <div class="contentBody">
        <!-- <nb-toggle status="primary">Notifications</nb-toggle>
        <nb-toggle status="primary">Default load</nb-toggle> -->
        <img class="png" src="./assets/logos/dashboard.png" alt="Dashboard">
    </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" fullWidth (click)="launchDasboard()">Launch</button>
    </nb-card-footer>
  </nb-card>
