<div class="row">
  <nb-card class="col-md-12 cardTitle">
    <nb-card-body>
      <h6 class="titleMenu">Access to your content</h6>
    </nb-card-body>
  </nb-card>
</div>
<div class="row grid">
  <div class="col-md">
    <app-dasboard-settings></app-dasboard-settings>
  </div>
  <!-- <div class="col-md-4">
    <app-misionbot-settings></app-misionbot-settings>
  </div>
  <div class="col-md-4">
    <app-vto-overtime></app-vto-overtime>
  </div>
  <div class="col-md-4">
    <app-map-manager></app-map-manager>
  </div> -->
</div>
